* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #EEE4D0;
}

body{
    
    font-family: Helvetica, sans-serif;
    height: 100%;
    margin: 0em;

}

header{
    font-size: 90px;
}


form{
    display: flex;
    justify-content: center;
}

main {
    height: 100%;
    margin: 0em;
}

#cityResult{
    font-size: 30px;
    height: 100%;
    margin: 0em;
    overflow: scroll;
    position: fixed;
    
}

footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
}

#input {
    padding: 5px;
}
